<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamyamm.yamm.app">

    <!-- Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>



    <application
        android:allowBackup="true"
        android:icon="@drawable/yamm_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Splash Screen -->
        <activity
            android:name="com.teamyamm.yamm.app.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Screen -->
        <activity
            android:name="com.teamyamm.yamm.app.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/YammActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Intro Screen -->
        <activity
            android:name=".IntroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_intro"
            android:theme="@style/IntroTheme" >
        </activity>

        <!-- Login Screen -->

        <activity
            android:name="com.teamyamm.yamm.app.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_login"
            android:theme="@style/YammActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamyamm.yamm.app.IntroActivity" />
        </activity>

        <!-- Battle Screen -->
        <activity
            android:name="com.teamyamm.yamm.app.BattleActivity"
            android:label="@string/title_activity_battle"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>

        <!-- Battle Result Screen -->

        <!-- Join Screen -->
        <activity
            android:name="com.teamyamm.yamm.app.JoinActivity"
            android:label="@string/title_activity_join"
            android:theme="@style/YammActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamyamm.yamm.app.IntroActivity" />
        </activity>

        <!-- Grid Activity -->
        <activity
            android:name="com.teamyamm.yamm.app.GridActivity"
            android:label="@string/title_activity_grid"
            android:theme="@style/YammActionBarTheme" />

        <!-- Friend Activity -->
        <activity
            android:name="com.teamyamm.yamm.app.FriendActivity"
            android:label="@string/title_activity_friend"
            android:theme="@style/YammActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamyamm.yamm.app.MainActivity" />
        </activity>

        <!-- Invite Activity -->
        <activity
            android:name="com.teamyamm.yamm.app.InviteActivity"
            android:label="@string/title_activity_invite"
            android:theme="@style/StyledIndicators" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamyamm.yamm.app.FriendActivity" />
        </activity>

        <!-- For KaKao SDK -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

    </application>

</manifest>
