<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamyamm.yamm.app"
    android:versionCode="13"
    android:versionName="@string/app_version_name">

    <!-- Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- For Push -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission android:name="com.teamyamm.yamm.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.teamyamm.yamm.permission.C2D_MESSAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/yamm_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Splash Screen -->
        <activity
            android:name="com.teamyamm.yamm.app.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Screen -->
        <activity
            android:name="com.teamyamm.yamm.app.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/YammLogoActionBarTheme"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask">
        </activity>

        <!-- Intro Screen -->
        <activity
            android:name=".IntroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_intro"
            android:theme="@style/IntroTheme" >
        </activity>

        <!-- Login Screen -->

        <activity
            android:name="com.teamyamm.yamm.app.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_login"
            android:theme="@style/YammActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamyamm.yamm.app.IntroActivity" />
        </activity>

        <!-- Battle Screen -->
        <activity
            android:name="com.teamyamm.yamm.app.BattleActivity"
            android:label="@string/title_activity_battle"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>

        <!-- Battle Result Screen -->

        <!-- Join Screen -->
        <activity
            android:name="com.teamyamm.yamm.app.JoinActivity"
            android:label="@string/title_activity_join"
            android:theme="@style/YammActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamyamm.yamm.app.IntroActivity" />
        </activity>

        <!-- Grid Activity -->
        <activity
            android:name="com.teamyamm.yamm.app.GridActivity"
            android:label="@string/title_activity_grid"
            android:theme="@style/YammActionBarTheme" />

        <!-- Friend Activity -->
        <activity
            android:name="com.teamyamm.yamm.app.FriendActivity"
            android:label="@string/title_activity_friend"
            android:theme="@style/YammActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamyamm.yamm.app.MainActivity" />
        </activity>

        <!-- Invite Activity -->
        <activity
            android:name="com.teamyamm.yamm.app.InviteActivity"
            android:label="@string/title_activity_invite"
            android:theme="@style/YammActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamyamm.yamm.app.FriendActivity" />
        </activity>

        <!-- Group Recommendation Activity -->
        <activity
            android:name="com.teamyamm.yamm.app.GroupRecommendationActivity"
            android:label="@string/title_activity_group_recommendation"
            android:theme="@style/YammActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamyamm.yamm.app.MainActivity" />
        </activity>

        <!-- Yamm Activity -->
        <activity
            android:name="com.teamyamm.yamm.app.YammActivity"
            android:label="@string/title_activity_group_recommendation"
            android:theme="@style/YammActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamyamm.yamm.app.MainActivity" />
        </activity>


        <!-- Poke Activity -->
        <activity
            android:name="com.teamyamm.yamm.app.PokeActivity"
            android:label="@string/title_activity_poke"
            android:theme="@style/YammActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamyamm.yamm.app.MainActivity" />
        </activity>

        <!-- New Join Activity -->
        <activity
            android:name=".NewJoinActivity"
            android:label="@string/title_activity_new_join"
            android:theme="@style/YammActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamyamm.yamm.app.IntroActivity" />
            </activity>

        <!-- Map Activity -->
        <activity
            android:launchMode="singleTask"
            android:name="com.teamyamm.yamm.app.MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/YammActionBarTheme" >
           </activity>

        <!-- Place Activity -->
        <activity
            android:launchMode="singleTask"
            android:name="com.teamyamm.yamm.app.PlaceActivity"
            android:label="@string/title_activity_place"
            android:theme="@style/YammActionBarTheme" >
        </activity>

        <!-- Poke AlertActivity -->
        <activity android:name=".PokeAlertActivity"
            android:theme="@style/YammPokeDialog"
            android:label="@string/title_activity_poke_alert"
            ></activity>

        <!-- For Google Maps API -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCJDGbVag9locrOk_3j-rAeOB8O2krcwrM"/>

        <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

        <!-- For KaKao SDK -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name="com.kakao.LoginActivity"
            android:theme="@style/YammPokeDialog"
            android:configChanges="orientation|screenSize"/>

        <!-- For Push -->
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".util.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.teamyamm.yamm" />
            </intent-filter>
        </receiver>

        <service android:name=".util.GcmIntentService"/>

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="@string/kakao_app_key"/>
        <meta-data android:name="com.kakao.sdk.GcmProjectId" android:value="@string/gcm_project_number"/>
        ...

        <!-- For Facebook Login -->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_test_id"/>
        <activity android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>

</manifest>
